



.tab-header-background {
    -fx-background-color: #5cb4fd;
}
    
    
.bn_start_stop
{
    -fx-background-image: url('https://cdn.onlinewebfonts.com/svg/img_496684.png');
     -fx-background-size: 80px;
}
